section {
  gap: 1rem;
  @media (min-width: 960px) {
    grid-template-columns: 1fr 1fr;
  }
  & > div:nth-child(1) {
    gap: 1rem;
    p {
      margin: 0;
    }
  }
  & > div:nth-child(2) {
    border: 1px solid var(--color--primary);
    box-shadow: var(--drop-shadow--primary-500);
    padding: 1rem;
    align-items: center;
  }
  ul {
    gap: 0.75rem;
    margin: 0;
    padding: 0;
    li {
      gap: 1ch;
      list-style: none;
      & > span {
        &:nth-child(2) {
          flex-grow: 1;
          flex-wrap: wrap;
          gap: 0.5rem;
        }
      }
    }
  }
}
