section {
  gap: 1rem;
  @media (max-width: 840px) {
    text-align: left;
  }
  .primary-button {
    margin-top: 1rem;
    margin-bottom: 1rem;
    @media (max-width: 841px) {
      margin-top: 0;
      margin-left: 0;
    }
  }
}
