div {
  gap: 0.5rem;
  @media (max-width: 840px) {
    gap: 1rem;
  }
  @media (min-width: 841px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  &::v-deep figure {
    @media (max-width: 840px) {
      padding-top: 50%;
    }
  }
}
