body {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a,
span {
  line-height: 1.75em;
}
a {
  text-decoration: none;
}
* {
  outline: none !important;
  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}
