// SITE WIDTH
$site-width: 1280px;

// COLORS
$color--primary: #ffa90a;
$color--primary-accent: #c90505;
$color--secondary: #00c5ff;
$color--secondary-accent: #83d8ff;
$color--contrast: #fff8f8;
$color--background: #191919;
$color--overlay-primary: #bf00ff;
$color--overlay-secondary: #8000ff;

// DROP SHADOWS
$drop-shadow--primary-300: 0 0 6px rgba($color--primary-accent, 0.3);
$drop-shadow--primary-500: 0 0 6px rgba($color--primary-accent, 0.7);
$drop-shadow--primary-700: 0 0 6px $color--primary-accent;
$drop-shadow--secondary: 0 0 6px rgba($color--secondary-accent, 0.4);
$drop-shadow--contrast: 0 0 6px rgba($color--contrast, 0.5);
$drop-shadow--dark: 0 10px 32px rgb(0 0 0 / 50%);

// OPACITY
$opacity--overlay-primary: 0.1;
$opacity--overlay-secondary: 0.25;

// BLEND MODES
$blend--overlay-primary: color;
$blend--overlay-secondary: luminosity;

// BORDER RADII
$border-radius--300: 3px;
$border-radius--400: 5px;

// FONT FAMILIES
$font-family: Manrope, Helvetica, Arial, sans-serif;

// FONT SIZES
$font-size--700: 3.5rem;
$font-size--600: 3rem;
$font-size--500: 2.5rem;
$font-size--400: 1.5rem;
$font-size--300: 1rem;
$font-size--200: 0.8rem;
$font-size--100: 0.6rem;

// FONT WEIGHTS
$font-weight--light: 400;
$font-weight--bold: 800;

// TRANSITION
$transition--250: 250ms ease-in-out;
$transition--350: 350ms ease-in-out;
$transition--500: 500ms ease-in-out;

// ROOT LEVEL CSS VARIABLE DECLARATIONS
:root {
  --site-width: #{$site-width};
  --color--primary: #{$color--primary};
  --color--primary-accent: #{$color--primary-accent};
  --color--secondary: #{$color--secondary};
  --color--secondary-accent: #{$color--secondary-accent};
  --color--contrast: #{$color--contrast};
  --color--overlay-primary: #{$color--overlay-primary};
  --color--overlay-secondary: #{$color--overlay-secondary};
  --color--background: #{$color--background};
  --drop-shadow--primary-300: #{$drop-shadow--primary-300};
  --drop-shadow--primary-500: #{$drop-shadow--primary-500};
  --drop-shadow--primary-700: #{$drop-shadow--primary-700};
  --drop-shadow--secondary: #{$drop-shadow--secondary};
  --drop-shadow--contrast: #{$drop-shadow--contrast};
  --drop-shadow--dark: #{$drop-shadow--dark};
  --opacity--overlay-primary: #{$opacity--overlay-primary};
  --opacity--overlay-secondary: #{$opacity--overlay-secondary};
  --blend--overlay-primary: #{$blend--overlay-primary};
  --blend--overlay-secondary: #{$blend--overlay-secondary};
  --border-radius--300: #{$border-radius--300};
  --border-radius--400: #{$border-radius--400};
  --font-family: #{$font-family};
  --font-size--700: #{$font-size--700};
  --font-size--600: #{$font-size--600};
  --font-size--500: #{$font-size--500};
  --font-size--400: #{$font-size--400};
  --font-size--300: #{$font-size--300};
  --font-size--200: #{$font-size--200};
  --font-size--100: #{$font-size--100};
  --font-weight--light: #{$font-weight--light};
  --font-weight--bold: #{$font-weight--bold};
  --transition--250: #{$transition--250};
  --transition--350: #{$transition--350};
  --transition--500: #{$transition--500};
}

// Default element properties
@mixin glowing-border($placement: bottom) {
  content: '';
  background: $color--primary;
  box-shadow: $drop-shadow--primary;
  height: 3px;
  width: 100%;
  position: absolute;
  #{$placement}: 0;
  left: 0;
  border-radius: 0.5rem;
}

@mixin background-pattern {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url('/public/background-texture.png');
  background-repeat: repeat;
  background-attachment: fixed;
  opacity: 0.5;
}
