.section-title {
  font-size: var(--font-size--600);
  &,
  &--small {
    line-height: 1em;
    color: var(--color--primary);
    text-transform: uppercase;
    text-shadow: var(--drop-shadow--primary-700);
  }
  &--small {
    font-size: var(--font-size--500);
  }
  @media (max-width: 1024px) {
    font-size: var(--font-size--600);
  }
  @media (max-width: 640px) {
    font-size: var(--font-size--500);
  }
}
