header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--color--background);
  background-image: url('@/assets/images/background-texture.png');
  @media (min-width: 1025px) {
    .menu-opener {
      display: none;
    }
  }
  button {
    position: relative;
    z-index: 11;
    background: transparent;
    border: none;
    color: var(--color--primary);
    font-size: 1.5rem;
    transition: color var(--transition--250);
    &:focus-visible {
      color: var(--color--secondary);
    }
    &::after {
      content: '';
      position: absolute;
      inset: 0;
    }
    &:not(.active) {
      .fa-times {
        display: none;
      }
    }
    &.active {
      .fa-bars {
        display: none;
      }
    }
  }
  .boxed {
    padding: 1rem 0;
    & > a {
      margin-right: auto;
    }
  }
  ul {
    @media (min-width: 1025px) {
      align-items: center;
      gap: 1.5rem;
    }
    @media (max-width: 1024px) {
      position: fixed;
      align-items: flex-end;
      justify-content: flex-start;
      flex-direction: column;
      padding: 5rem 1.5rem 1.5rem;
      box-sizing: border-box;
      z-index: 10;
      top: 0;
      right: -100%;
      width: 100vw;
      height: 100vh;
      backdrop-filter: blur(1rem) brightness(0.3) contrast(0.95);
      transition: right var(--transition--250);
      gap: 0.3rem;
      &.active,
      &:focus-within {
        right: 0;
      }
    }
    z-index: 10;
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      a {
        font-weight: var(--font-weight--bold);
        color: var(--color--secondary);
        text-shadow: var(--drop-shadow--secondary);
        text-transform: lowercase;
        transition: color var(--transition--250),
          text-shadow var(--transition--250);
        &.nuxt-link-active,
        &:hover,
        &:focus-visible {
          color: var(--color--primary);
          text-shadow: var(--drop-shadow--primary-500);
        }
        @media (max-width: 1024px) {
          font-size: var(--font-size--600);
          line-height: 1.25em;
        }
      }
    }
  }
}
