footer {
  .boxed {
    padding: 1rem 0;
    .flex {
      align-items: center;
    }
    span {
      font-size: var(--font-size--300);
      margin-right: auto;
    }
    div {
      display: flex;
      gap: 1rem;
      a {
        font-size: 2rem;
        color: var(--color--secondary);
        text-shadow: var(--drop-shadow--secondary);
        transition: color var(--transition--250),
          text-shadow var(--transition--250);
        &:hover,
        &:focus-visible {
          color: var(--color--primary);
          text-shadow: var(--drop-shadow--primary-500);
        }
        svg {
          color: inherit;
          fill: currentColor;
        }
      }
    }
  }
}
