div {
  position: relative;
  margin-top: -1.5rem;
}
span {
  position: absolute;
  z-index: 2;
  bottom: 0.3rem;
  left: 0.3rem;
  padding: 0.25em 0.5em;
  font-size: var(--font-size--200);
  background-color: var(--color--background);
  color: var(--color--secondary);
}
