section {
  gap: 2rem;
}
ul {
  &:not(li > ul) {
    padding: 0;
    margin: 0;
    columns: 3;
    @media (max-width: 768px) {
      columns: 2;
    }
    @media (max-width: 580px) {
      columns: 1;
    }
    li {
      padding-left: 2ch;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        left: 0;
        border-radius: 50%;
        height: 0.5em;
        width: 0.5em;
        top: 0.6rem;
        box-shadow: var(--drop-shadow--primary-500);
      }
    }
    & > li {
      display: inline-grid;
      width: 100%;
      gap: 0.5em;
      padding-bottom: 1em;
      font-weight: var(--font-weight--bold);
      &::before {
        background-color: var(--color--primary);
      }
      ul {
        display: grid;
        margin: 0;
        padding: 0;
        li {
          font-weight: var(--font-weight--light);
          list-style: none;
          &::before {
            border: 1px solid var(--color--primary);
          }
        }
      }
    }
  }
}
