.boxed {
  width: 95vw;
  max-width: var(--site-width);
  margin: 0 auto;
}
.rounded {
  border-radius: var(--border-radius--300);
  overflow: hidden;
  &--400 {
    border-radius: var(--border-radius--400);
    overflow: hidden;
  }
}
